::ng-deep :is([type=text], [type=date]):focus {
    @apply ring-0;
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 22px !important;
  border: 2px solid #F4C7CE;
  background: #FFFDF9 !important;
}