<div class="bg-[#F6EFE4] w-full h-screen flex items-center py-3 flex-col gap-11">
  <!-- header todo -->
  <div class="text-center space-y-3">
    <h1 class="font-bold">TODO</h1>
    <div class="flex gap-1.5">
      <span>Date: </span>
      <span class="border-b-2 border-b-amber-950 w-28 text-left">9 July</span>
    </div>
  </div>

  <div class="space-y-1">
    <!-- tasks -->
    <div class="border-2 border-[#F6D3D9] w-3xl rounded-2xl bg-[#FFFDF9] p-3 space-y-2">
        <div class="flex justify-between items-center">
            <div class="bg-[#F6D3D9] px-4 py-1 text-center w-fit rounded-4xl uppercase">Tasks</div>
            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E99AA6">
              <path d="M12 21s-7.5-4.9-10-9.3C.4 8.6 2 5 5.6 5c2 0 3.4 1.1 4.4 2.5C11 6.1 12.4 5 14.4 5 18 5 19.6 8.6 22 11.7 19.5 16.1 12 21 12 21z"/>
            </svg>
        </div>
        <div class="bg-[#F6D3D9] h-1.5 rounded-full w-full my-2.5"></div>

        <div class="flex flex-col gap-2.5 mt-4">
            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6D3D9] pb-1.5">
              <ng-container *ngTemplateOutlet="checkbox"></ng-container>
              <span>do home work</span>
            </div>

            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6D3D9] pb-1.5">
              <ng-container *ngTemplateOutlet="checkbox"></ng-container>
              <span>do home work</span>
            </div>

            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6D3D9] pb-1.5">
              <ng-container *ngTemplateOutlet="checkbox"></ng-container>
              <span>do home work</span>
            </div>

            <div>
              <button class="text-[#E99AA6] hover:cursor-pointer" (click)="openDialog()">+ add a line</button>
            </div>
        </div>
    </div>

    <!-- priority -->
    <div class="border-2 border-[#DCE6D3] w-3xl rounded-2xl bg-[#FFFDF9] p-3 space-y-2">
        <div class="flex justify-between items-center">
            <div class="bg-[#DCE6D3] px-4 py-1 text-center w-fit rounded-4xl uppercase">Top Priorities</div>
            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#7C9473" stroke-width="1.5" stroke-linejoin="round">
              <path d="M12 2l2.2 6.8H21l-5.6 4.1 2.2 6.9L12 15.8 6.4 19.8l2.2-6.9L3 8.8h6.8z"/>
            </svg>
        </div>

        <div class="flex flex-col gap-2.5 mt-4">
            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6D3D9] pb-1.5">
              <span class="size-6 text-center rounded-full bg-[#B9CBAB] text-white">1</span>
              <span>do home work</span>
            </div>

            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6D3D9] pb-1.5">
              <span class="size-6 text-center rounded-full bg-[#B9CBAB] text-white">2</span>
              <span>do home work</span>
            </div>

            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6D3D9] pb-1.5">
              <span class="size-6 text-center rounded-full bg-[#B9CBAB] text-white">3</span>
              <span>do home work</span>
            </div>
        </div>
    </div>

    <!-- don't forget -->
    <div class="border-2 border-[#F6E3AE] w-3xl rounded-2xl bg-[#FFFDF9] p-3 space-y-2">
        <div class="flex justify-between items-center">
            <div class="bg-[#F6E3AE] px-4 py-1 text-center w-fit rounded-4xl uppercase">Don't forget</div>
            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#F6E3AE">
              <path d="M12 21s-7.5-4.9-10-9.3C.4 8.6 2 5 5.6 5c2 0 3.4 1.1 4.4 2.5C11 6.1 12.4 5 14.4 5 18 5 19.6 8.6 22 11.7 19.5 16.1 12 21 12 21z"/>
            </svg>
        </div>

        <div class="flex flex-col gap-2.5 mt-4">
            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6E3AE] pb-1.5">
              <span class="size-3 text-center rounded-full bg-[#F6E3AE] text-white"></span>
              <span>do home work</span>
            </div>

            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6E3AE] pb-1.5">
              <span class="size-3 text-center rounded-full bg-[#F6E3AE] text-white"></span>
              <span>do home work</span>
            </div>

            <div class="flex items-center gap-2 border-b-[1.7px] border-b-[#F6E3AE] pb-1.5">
              <span class="size-3 text-center rounded-full bg-[#F6E3AE] text-white"></span>
              <span>do home work</span>
            </div>

            <div>
              <button class="text-[#F6E3AE] hover:cursor-pointer">+ add</button>
            </div>
        </div>
    </div>

    <!-- notes -->
    <div class="border-2 border-[#E5D6F2] w-3xl rounded-2xl bg-[#FFFDF9] p-3 space-y-4">
        <div class="flex justify-between items-center">
            <div class="bg-[#E5D6F2] px-4 py-1 text-center w-fit rounded-4xl uppercase">NOTESt</div>
            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E99AA6">
              <path d="M12 21s-7.5-4.9-10-9.3C.4 8.6 2 5 5.6 5c2 0 3.4 1.1 4.4 2.5C11 6.1 12.4 5 14.4 5 18 5 19.6 8.6 22 11.7 19.5 16.1 12 21 12 21z"/>
            </svg>
        </div>

        <div class="w-full h-16 flex bg-notes border-none px-2">
          Ask some about the weekend plan
        </div>
    </div>

    <!-- bottom style icons -->
    <div class="flex gap-2 items-center justify-center py-5">

      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
        <path d="M12 21s-7.5-4.9-10-9.3C.4 8.6 2 5 5.6 5c2 0 3.4 1.1 4.4 2.5C11 6.1 12.4 5 14.4 5 18 5 19.6 8.6 22 11.7 19.5 16.1 12 21 12 21z"/>
      </svg>

      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#EAC873">
        <path d="M12 2c.6 4 2.2 5.6 6 6-3.8.4-5.4 2-6 6-.6-4-2.2-5.6-6-6 3.8-.4 5.4-2 6-6z"/>
      </svg>

      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E99AA6">
        <path d="M12 21s-7.5-4.9-10-9.3C.4 8.6 2 5 5.6 5c2 0 3.4 1.1 4.4 2.5C11 6.1 12.4 5 14.4 5 18 5 19.6 8.6 22 11.7 19.5 16.1 12 21 12 21z"/>
      </svg>

      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#F6E3AE">
        <path d="M12 2l2.2 6.8H21l-5.6 4.1 2.2 6.9L12 15.8 6.4 19.8l2.2-6.9L3 8.8h6.8z"/>
      </svg>
    </div>
  </div>
</div>

<ng-template #checkbox>
  <label class="group relative inline-flex items-center justify-center size-5 cursor-pointer select-none">
    <input type="checkbox" class="peer sr-only" />

    <!-- circle -->
    <span
      class="absolute inset-0 rounded-full border-2 border-[#2B2320] bg-transparent
            transition-colors duration-150
            group-hover:border-[#E99AA6]
            peer-checked:bg-[#E99AA6] peer-checked:border-[#E99AA6]
            peer-focus-visible:ring-2 peer-focus-visible:ring-[#E99AA6] peer-focus-visible:ring-offset-2 rounded-full"
    ></span>

    <!-- checkmark -->
    <svg
      class="relative size-3 text-white opacity-0 scale-50 transition-all duration-150
            peer-checked:opacity-100 peer-checked:scale-100"
      viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
    >
      <polyline points="20 6 9 17 4 12"/>
    </svg>
  </label>
</ng-template>