/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* flow bite */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.dark-mode {
    background-color: #121212;
    color: white;
    app-todo-details {
        h1{
            color: white !important;
        }
        section{
            background-color: black !important;
            border:1px solid white;
            border-radius: 5px;

        }
    }

    input[type="text"],select {
        background-color: black !important;
        color: white !important;
    }
}